:root {
  --color-magenta: #dd1069;
}

html {
  font-size: 16px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game__card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex: auto;
  overflow-y: auto;
  padding-bottom: 50px;
}

.game__card > img {
  width: calc(min(500px, 100%));
  height: fit-content;
}

.game__button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-magenta);
  box-shadow: 0px 0px 5px var(--color-magenta);
  padding: 1rem;
  color: white;
  position: absolute;
  bottom: 12px;
}
