:root {
  --color-magenta: #dd1069;
}

html {
  font-size: 16px;
  background: white !important;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex: auto;
  overflow-y: auto;
}

.game__card > img {
  width: calc(min(500px, 100%));
  height: fit-content;
}

.game__button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-magenta);
  box-shadow: 0px 0px 5px var(--color-magenta);
  color: white;
  bottom: 12px;
  width: calc(min(450px, 90%));
  margin: 0px 10% 24px 10%;
  padding: 0.5rem 0;
}

.game__button-icon {
  height: 3rem;
}

.hidden {
  display: none;
}